/* Basic reset to ensure consistency across browsers */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', monospace;
}

body {
  background: linear-gradient(135deg, #1c1c1c, #3e3e3e);
  color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

#app {
  background: rgba(20, 20, 20, 0.95);
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
  padding: 25px;
  max-width: 600px;
  width: 100%;
  transition: transform 0.3s;
  padding-top: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}

h1, h2 {
  color: #ff5e79;
  text-shadow: 2px 2px #002147;
  margin-bottom: 25px;
}

h2 {
  margin-top: 30px;
  color: #1ae5d8;
}

input[type="text"] {
  width: 80%;
  padding: 12px;
  border: 2px solid #1ae5d8;
  border-radius: 12px;
  margin-bottom: 20px;
  background: #141414;
  color: #e0e0e0;
  outline: none;
  transition: all 0.3s;
}

input[type="text"]:focus {
  border-color: #ff5e79;
  background: #333333;
  color: #ffffff;
}

.addButton {
  background: #1ae5d8;
}

button {
  background: #ff5e79;
  color: #ffffff;
  border: none;
  padding: 12px 25px;
  border-radius: 12px;
  cursor: pointer;
  transform: scale(0.8);
  transition: background 0.3s, transform 0.3s;
}

button:hover {
  background: #00c6ff;
  transform: translateY(-2px);
}

button:active {
  transform: translateY(2px);
}

ul {
  list-style: none;
  margin: 25px 0;
  padding: 0;
  max-height: 300px;
  overflow-y: auto;
}

ul.scrollable {
  max-height: 300px;
}

ul.scrollable::-webkit-scrollbar {
  width: 10px;
}

ul.scrollable::-webkit-scrollbar-thumb {
  background: #ff5e79;
  border-radius: 12px;
}

ul.scrollable::-webkit-scrollbar-thumb:hover {
  background: #ff1e50;
}

li {
  background: #292929;
  color: #1ae5d8;
  margin-bottom: 12px;
  padding: 12px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
  transition: background 0.3s, transform 0.3s;
  flex-direction: column;
}

li:hover {
  background: #353535;
  transform: scale(1.07);
}

li.completed {
  text-decoration: line-through;
  background: #1a3e5c;
  color: #ff5e79;
}

span {
  cursor: pointer;
  transition: color 0.3s;
}

span:hover {
  color: #ff1e50;
}

small {
  color: #bbbbbb;
  margin-top: 7px;
}

.historyList {
  background-color: #5c5c5c;
  color: #f7d9d9;
}

.historyList.selected {
  background-color: #5c1a1a;
  color: #7e7e7e;
}

.clearButton {
  background: #5c5c5c;
  color: #ffffff;
  border: none;
  padding: 12px 25px;
  border-radius: 12px;
  cursor: pointer;
  transform: scale(0.8);
  transition: background 0.3s, transform 0.3s;
}

.clearButton:hover {
  background: #333333;
  transform: translateY(-2px);
}

.clearButton:active {
  transform: translateY(2px);
}

@media (max-width: 600px) {
  #app {
      padding: 15px;
      padding-top: 25px;
      max-width: 90%;
      margin: auto;
      margin-top: 20px;
      margin-bottom: 20px;
  }

  h1, h2 {
      font-size: 1.8rem;
  }

  h2 {
      margin-top: 40px;
  }

  input[type="text"] {
      width: 60%;
  }

  button {
      width: 45%;
      padding: 15px;
      margin-top: 5px;
      transform: scale(0.9);
      text-align: center;
  }

  ul {
      padding: 0;
  }

  li {
      font-size: 1rem;
  }

  ul.scrollable {
      max-height: 300px;
  }

  ul.scrollable::-webkit-scrollbar {
      width: 10px;
  }

  ul.scrollable::-webkit-scrollbar-thumb {
      background: #ff5e79;
      border-radius: 12px;
  }

  ul.scrollable::-webkit-scrollbar-thumb:hover {
      background: #ff1e50;
  }
}

.to-doButton {
  margin-left: auto;
}
